<header>
<nav>
  <div class="nav-wrapper">
    <div class="container">
      <a [routerLink]="[ '' ]" class="brand-logo">Sprint Monitoring</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li *ngIf="auth.isAuthenticated()" ><a [routerLink]="[ 'profile' ]"> {{ profile?.name }} </a></li>
        <li *ngIf="auth.isAuthenticated()"><button (click)="logout()" type="button" class="waves-effect waves-light btn-small">Logout</button> </li>
        <li *ngIf="!auth.isAuthenticated()"><button (click)="login()" type="button" class="waves-effect waves-light btn-small">Login</button> </li>
      </ul>
    </div>
  </div>
</nav>
</header>
