<section *ngIf="profile">

  <h4>My Profile</h4>
  <div class="col s12 m8 offset-m2 l6 offset-l3" >
    <div class="card-panel grey lighten-5 z-depth-1">
      <div class="row valign-wrapper">
        <div class="col s2">
          <img [src]="profile.picture" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
        </div>
        <div class="col s10">
          <span class="black-text">
            {{ profile.name }}
          </span>
        </div>
      </div>
    </div>
  </div>
  
  <pre>
    {{ profile | json }}
  </pre>

</section>
