/* You can add global styles to this file, and also import other style files */
body {
  background-color: #fcfcfc;
  padding: 0;
  margin: 0;
}

header {
  /* border-bottom: 1px solid #ccc; */
  /* position: fixed; */
}

table td {
  border: 1px solid #f0f0f0;
  padding: 4px;
}

table#issuesList {
  font-size: 0.85em;
}

.leftBar {
  padding: 2em;
  position: fixed;
  width: 320px;
}

.rightBar {
  padding: 1em;
  margin-left: 320px;
  border-left: 1px solid #ccc;
  background-color: #fff;
}

.rightBar.hideblock {
  margin-left: 0px;
}

.badge {
  opacity: 0.9;
  background: #f1f1f1;
  border-radius: 0;
  border-bottom: 2px solid;
  margin-bottom: 2px;
}

.topIndicator {
  height: 250px;
}

.topIndicator canvas {
  position: relative;
  height: 40vh;
  width: 80vw;
}

.topIndicator h3{
  margin: 0;
}

/** * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * **/
header nav {
  background-color: #009688;
  /*padding: 6px 0;*/
}

.form-group {
  margin-bottom: 10px;
}

p {
  margin-bottom: 5px;
}

footer.page-footer {
  background-color: #009688;
}

header {

}

.chart-container {
  position: relative;
  height: 74%;
}

.sprintCard {
  height: 165px;
}

.pipeline-In-Progress .pipelineColumn {
  background-color: #f5ce34;
  color: #fff;
}

.pipeline-Closed .pipelineColumn {
  background-color: #27ae60;
  color: #fff;
}

.pipeline-Closed .title {
  text-decoration: line-through #27ae6094;
}

.pipeline-New-Issues .pipelineColumn {
  background-color: #ef685a;
  color: #fff;
}

.pipeline-Review-QA .pipelineColumn {
  background-color: #5fa9da;
  color: #fff;
}

table#issuesList {
  font-size: 0.8em;
}

.milestoneDescription {
  overflow: auto;
  height: 300px;
  background: #fff;
  border: 1px solid #eaeaea;
  border-radius: 3px;
  padding: 5px 16px;
}

.topIndicatorBig {
  height: 350px;
}

.milestoneDescription h5 {
  margin: 0 !important;
}

.chip {
  font-size: 0.9em;
  height: 25px;
  line-height: 25px;
}

.chip>img {
  height: 25px;
  width: 25px;
  /* margin: 0 8px 0 -12; */
}

.epicBadge {
  padding: 0 !important;
  min-width: 12px !important;
}

.topIndicator .card-content {
  height: 100%;
}
