<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <p class="grey-text text-lighten-4">Monitoring your issues and take decisions</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://github.com/sebas932/sprintMonitoring">Github repository</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © {{ copyYear }} Copyright Guybrush
    <a class="grey-text text-lighten-4 right" href="http://guybrush.info/">Guybrush.info</a>
    </div>
  </div>
</footer>
